/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.description-text,
.quick-list-text {
  color: #727272;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-primary {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  cursor: pointer;
}
.btn-primary:hover {
  background: #d77504;
  border-radius: 15px;
}
main {
  max-width: 1440px;
  padding: 30px 200px;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 200px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul a {
  text-decoration: none;
  margin-left: 30px;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}
/* banner section styles */
.banner {
  padding: 40px 200px;
}
.banner-content {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner img {
  width: 100%;
  margin-top: 40px;
}
/* quick-list section styles */
.quick-list-container {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 0 20px;
}
.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.quick-list-img img {
  width: 100%;
}
.quick-list-content {
  width: 500px;
}
.quick-list-title {
  font-size: 2.8rem;
}
.feature-text {
  color: #ff900e;
  font-weight: 700;
}
/* features section styles */
.features{
  margin-top: 120px;
  display: flex;
  gap: 100px;  
}
.feature-card-container{
  margin-top: 50px;
}
.features-card{
  border-radius: 8px;
background: white;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
margin-bottom: 20px;
padding: 10px 12px;
}
.feature-card-title{
  color: #131313;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0px;
}
.feature-img img{
  width: 500px;
}
/* facts section styles */
.facts {
  margin-top: 180px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 80px;
}
.facts-card-container .facts-card {
  padding-top: 20px;
  width: 160px;
  height: 140px;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
/* <!-- sponsors section styles */
.sponsors-section {
  margin-top: 120px;
  text-align: center;
  /* display: none; */
}
.sponsors-image-container {
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.sponsors-image-container img {
  width: 120px;
  height: 30px;
  mix-blend-mode: luminosity;
}
/* footer section styles */
footer {
  
  max-width: 900px;
  height: 50px;
  margin: 100px auto;
  border-radius: 8px;
  background: #fff4e7;
}
.footer-text {
  color: #424242;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  padding-top: 20px;
}
/* responsive design for small screen */
@media screen and (max-width: 576px) {
  nav,
  main,
  .sponsors-image-container, .features {
    padding: 15px;
    flex-direction: column;
  }
  .description-text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .section-title,
  .quick-list-title {
    font-size: 1.8rem;
  }
  nav ul {
    margin-top: 10px;
  }
  nav ul a {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 1rem;
  }
  .banner {
    padding: 15px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 2.2rem;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 8px 12px;
  }
  .quick-list-container {
    flex-direction: column-reverse;
  }
  .quick-list-img {
    grid-template-columns: 1fr;
  }
  .quick-list-content {
    width: 100%;
  }
  .features{
    margin-top: 40px;
  }
  .feature-img img{
    width: 100%;
  }
  .facts {
    margin-left: 20px;
    margin-top: 60px;
  }
  .facts-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
  }
  .facts-card-container .facts-card {
    margin-bottom: 20px;
  }
  .sponsors-image-container img {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }
}
/* responsive design for medium screen */
@media screen and (min-width: 576px) and (max-width: 800px) {
  nav,
  .banner,
  main {
    padding: 30px 50px;
  }
  .section-title,
  .quick-list-title {
    font-size: 2rem;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 2.6rem;
  }
  .banner-description {
    font-size: 0.8rem;
  }
  .btn-primary {
    font-size: 1rem;
    padding: 8px 12px;
  }
  .quick-list-container {
    gap: 30px;
  }
  .quick-list-img {
    gap: 12px;
  }
  .quick-list-content {
    width: 350px;
  }
  .features{
    flex-direction: column;
  }
}
/* responsive design for large screen */
@media screen and (min-width: 800px) and (max-width: 1040px) {
  nav,
  .banner,
  main {
    padding: 30px 120px;
  }
  nav h3,
  .quick-list-title {
    font-size: 2.4rem;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 3.4rem;
  }

  .btn-primary {
    font-size: 1.2rem;
    padding: 8px 12px;
  }
  /* .quick-list-img img{
  width: fit-content;
} */
  .quick-list-container {
    gap: 50px;
  }
  .quick-list-img {
    gap: 16px;
  }
  .quick-list-content {
    width: 450px;
  }
}
